<h1>All the diaries </h1>


 <% @diaries.each do |diarie| %>
 <h2><%= link_to diarie.title, diarie %></h2>
  <p><%= time_ago_in_words(diarie.created_at)%></p>
<%= link_to "New Note", new_diary_path %>

 <% end %>

