<p id="notice"><%= notice %></p>
<h1 class ="all">All the diaries </h1>


<div class="card-columns">
 <% @diaries.each do |diarie| %>
     <div class="card main-view">
       <div class="card-body">
          <h2 class="card-title">
         <%= link_to diarie.title, diarie, class:"text-dark" %> 
           </h2>
           <div class="card-footer">
           <%= time_ago_in_words(diarie.created_at)%> 
           </div> 
           
        
    </div>
     </div>


 <% end %>
 </div> 
 <%= link_to "New Diary", new_diary_path %>

